*.db
*.sql
etc/
output/
__pycache__/
stockcount/site.*
homepage/
stockcount/__pycache__/
stockcount/main/__pycache__/
stockcount/users/__pycache__/
stockcount/counts/__pycache__/
.venv/
downloads/
stockcount/static/img/QRCode.svg
dbfiles/
