asgiref
blueprint
flask
flask-login
flask-mailman
flask-security-too
flask-sqlalchemy
flask-wtf
icecream
importlib_resources
jinja2
pandas
passlib
psycopg2
sqlalchemy
uvicorn
werkzeug
wtforms
wtforms-sqlalchemy

