{% extends 'report_layout.html' %}
{% block content %}
    <!-- Alerts -->
<section class="container bg-steel p-3">
  <legend class="border-bottom text-white mb-6">Last Count Date: {{ last_count.strftime('%A-%m/%d') }}</legend>
  <div class="row">
    {% for data in data_rows %}
      <div class="col-md-3 p-1">
        {% if data.variance < 0 %}
          <div class="content-section bg-danger">
            <legend class="text-white mb-1">{{ data.item_name }}</legend>
            <div class="card text-center text-dark bg-light">
              <div class="card-body">
                <h5 class="card-text">{{ "%.0f"|format(data.variance) }}</h5>
              </div>
            </div>
            <a href="{{ url_for('main_blueprint.report_details', product=data.item_id) }}" class="btn btn-primary">More Details</a>
          </div>
        {% elif data.variance > 0 %}
          <div class="content-section bg-warning">
            <legend class="text-dark mb-1">{{ data.item_name }}</legend>
            <div class="card text-center text-dark bg-light">
              <div class="card-body">
                <h5 class="card-text">{{ "%.0f"|format(data.variance) }}</h5>
              </div>
            </div>
            <a href="{{ url_for('main_blueprint.report_details', product=data.item_id) }}" class="btn btn-primary">More Details</a>
          </div>
        {% elif data.variance == 0 %}
          <div class="content-section bg-success">
            <legend class="text-white mb-1">{{ data.item_name }}</legend>
            <div class="card text-center text-dark bg-light">
              <div class="card-body">
                <h5 class="card-text">{{ "%.0f"|format(data.variance) }}</h5>
              </div>
            </div>
            <a href="{{ url_for('main_blueprint.report_details', product=data.item_id) }}" class="btn btn-primary">More Details</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
