<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
          <div class="container-fluid ps-2 pe-0">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="mailto:support@centraarchy.com">
              <i class="fas fa-info-circle opacity-6 text-dark me-1"></i>
              Support
            </a>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="#" 
                    onclick="redirectToResetPage()" 
                    class="btn btn-sm mb-0 me-1 bg-gradient-secondary">Reset Password</a>
                </li>
              </ul>
              
              <script>
                function redirectToResetPage() {
                  window.location.href = 'https://dashboard.centraarchy.com/reset';
                }
              </script>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
</div>
