{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ multi_form.hidden_tag() }}
    <fieldset id="" class="form-group mb-2">
      <legend class="border-bottom mb-2">Enter Count</legend>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-1">
                {{ multi_form.transdate.label(class="form-control-label", style="width: 100%;") }}
                {% if multi_form.transdate.errors %}
                {{ multi_form.transdate(class="form-control form-control-md is-invalid", style="width: 100%;") }}
                <div class="invalid-feedback">
                    {% for error in multi_form.transdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ multi_form.transdate(class="form-control form-control-md", style="width: 50%;") }}
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-1">
                {{ multi_form.am_pm.label(class="form-control-label", style="width: 100%;") }}
                {% if multi_form.am_pm.errors %}
                {{ multi_form.am_pm(class="form-control form-control-md is-invalid", style="width: 100%;") }}
                <div class="invalid-feedback">
                    {% for error in multi_form.am_pm.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ multi_form.am_pm(class="form-control form-control-md", style="width: 20%;") }}
                {% endif %}
            </div>
        </div>
      </div>
      <hr> <!-- Divider line -->
      {% for form in multi_form.counts %}
      {{ form.csrf_token() }}
      <div class="form-group mb-1">
        <label class="form-control-label">{{ form.itemname.label }}</label>
        
        {% if form.itemname.errors %}
        <input type="text" class="form-control form-control-md is-invalid" value="{{ form.itemname.data }}" readonly>
        <div class="invalid-feedback">
            {% for error in form.itemname.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        <h5 class="subtitle">{{ form.itemname.data }}</h5>
        {% endif %}
      </div>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              {{ form.casecount.label(class="form-control-label") }}
              {% if form.casecount.errors %}
              {{ form.casecount(class="form-control form-control-md is-invalid", style="width: 80%;") }}
              <div class="invalid-feedback">
                  {% for error in form.casecount.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
              {{ form.casecount(class="form-control form-control-md", style="width: 80%;") }}
              {% endif %}
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              {{ form.eachcount.label(class="form-control-label") }}
              {% if form.eachcount.errors %}
              {{ form.eachcount(class="form-control form-control-md is-invalid", style="width: 80%;") }}
              <div class="invalid-feedback">
                  {% for error in form.eachcount.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
              {{ form.eachcount(class="form-control form-control-md", style="width: 80%;") }}
              {% endif %}
          </div>
      </div>
    </div>
    <hr> <!-- Divider line -->
    {% endfor %}
    </fieldset>
    <div class="form-group mb-1">
      {{ multi_form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>

<!-- Count Section -->
<section id="counts" class="p-1 bg-steel">
  {% for group in ordered_items %}
  <div class="content-section">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <legend class="border-bottom mb-0">{{ group.trans_date.strftime('%A-%m/%d') }} - {{ group.count_time }}</legend>
      <!-- Add button here -->
      <a href="/count/{{ group.trans_date }}/update" class="btn btn-primary btn-sm" style="width: 100px; height: 30px;">Edit</a>
    </div>
    {% for item in inv_items %}
    {% if item.trans_date == group.trans_date and item.count_time == group.count_time %}
    <div class="media-body">
      <a class="me-2" href="{{ url_for('counts_blueprint.update_count', count_id=item.id) }}">{{ item.item_name }}</a>
      <small class="text-muted">{{ item.case_count }} Cases + {{ item.each_count }} Each  =  {{ item.count_total }} Total {{ ordered_count}}</small>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</section>
<div>
  {{ purchase_item }}
  {{ sales_item }}
</div>

{% endblock content %}
