{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset id="" class="form-group mb-2">
            <legend class="border-bottom mb-2">{{ legend }}</legend>
            <div class="form-group mb-1">
                {{ form.itemname.label(class="form=control-label") }}
                {% if form.itemname.errors %}
                    {{ form.itemname(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.itemname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.itemname(class="form=control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group mb-1">
                {{ form.casepack.label(class="form=control-label") }}
                {% if form.casepack.errors %}
                    {{ form.casepack(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.casepack.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.casepack(class="form=control form-control-md") }}
                {% endif %}
            </div>
        </fieldset>
            <div class="form-group mb-1">
                {{ form.submit(class="btn btn-primary") }}
            </div>
    </form>
</div>
<!-- Count Section -->
<section id="items" class="bg-steel">
<div class="content-section">
  <legend class="border-bottom mb-2">Inventory Items - Select to edit</legend>
    {% for item in inv_items %}
      <div class="media-body">
          <a class="me-2" href="{{ url_for('counts_blueprint.update_item', item_id=item.id) }}">{{ item.item_name }}</a>
          <small class="text-muted">{{ item.case_pack }} per Case</small>
      </div>
    {% endfor %}
</div>
</section>
<div class="content-section">
    <form method="POST" action="">
        {{ menuItemForm.hidden_tag() }}
        <fieldset id="" class="form-group mb-2">
            <legend class="border-bottom mb-2"> Enter New Menu Item </legend>
            <div class="form-group mb-1">
                {{ menuItemForm.itemname.label(class="form=control-label") }}
                {% if menuItemForm.itemname.errors %}
                    {{ menuItemForm.itemname(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in menuItemForm.itemname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ menuItemForm.itemname(class="form=control form-control-md") }}
                {% endif %}
            </div>
        </fieldset>
            <div class="form-group mb-1">
                {{ menuItemForm.submit(class="btn btn-primary") }}
            </div>
    </form>
</div>
<section id="Menu Items" class="bg-steel">
    <div class="content-section">
      <legend class="border-bottom mb-2">Menu Items - Select to Delete</legend>
      {% for item in menu_items %}
          <div class="media-body">
            <div class="form-group">
                <span style="font-size: 1.5rem;">{{ item.menu_item }}</span>
                <!-- Pass the item ID to the modal -->
                <button type="button" class="btn btn-danger btn-sm m-2" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ item.id }}" data-item-id="{{ item.id }}">Delete</button>
            </div>
          </div>

          <!-- Modal for each item -->
          <div class="modal fade" id="deleteModal-{{ item.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ item.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel-{{ item.id }}">Delete Item {{ item.menu_item }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                  <!-- Form to delete the specific item -->
                  <form action="{{ url_for('counts_blueprint.delete_menu_item', id=item.id) }}" method="POST">
                      {{ form.csrf_token() }}
                      <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
</section>


{% endblock content %}

