{% extends 'layout.html' %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
  <style>
      .styled-text {
          font-weight: bold;
          font-size: 18px; /* Adjust as needed */
      }
  </style>
</head>
<div class="content-section">
  <form method="POST" action="">
    {{ multi_form.hidden_tag() }}
    <fieldset id="" class="form-group mb-2">
      <legend class="border-bottom mb-2">Enter Sales for {{ date }}</legend>
    <hr> <!-- Divider line -->
    {% for form in multi_form.sales %}
    {{ form.hidden_tag() }}
    {{ form.csrf_token() }}
    <!-- Add a hidden input field for the item ID -->
    <div class="form-group mb-1">
      <p class="styled-text">{{ form.itemname.data }}</p>   
    </div>
    <div>
      {{ form.eachcount.label(value=form.eachcount.data) }}
      {% if form.eachcount.errors %}
      {{ form.eachcount(class="form-control-sm is-invalid", value=form.eachcount.data) }}
      <div class="invalid-feedback">
        {% for error in form.eachcount.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.eachcount(value=form.eachcount.data) }}
      {% endif %}
      {{ form.waste.label(value=form.waste.data) }}:
      {% if form.waste.errors %}
      {{ form.waste(class="form-control-sm is-invalid", value=form.waste.data) }}
      <div class="invalid-feedback">
        {% for error in form.waste.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.waste(value=form.waste.data) }}
      {% endif %}
    </div>
    <hr> <!-- Divider line -->
    {% endfor %}
  </fieldset>
  <div class="form-group mb-1">
    {{ multi_form.submit(class="btn btn-primary") }}
  </div>
</form>
</div>
{% endblock content %}


