{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ multi_form.hidden_tag() }}
    <fieldset id="" class="form-group mb-2">
      <legend class="border-bottom mb-2">Enter Sales</legend>
      <div class="form-group mb-1">
        {{ multi_form.transdate.label(class="form-control-label") }}
        {% if multi_form.transdate.errors %}
        {{ multi_form.transdate(class="form-control form-control-md is-invalid") }}
        <div class="invalid-feedback">
          {% for error in multi_form.transdate.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ multi_form.transdate(class="form-control form-control-md") }}
        {% endif %}
      </div>
      {% for form in multi_form.sales %}
      {{ form.csrf_token() }}
      <div class="form-group mb-1">
        {{ form.itemname.label(class="form-control-label", value=form.itemname.data, readonly="readonly") }}
        {% if form.itemname.errors %}
        {{ form.itemname(class="form-control form-control-md is-invalid", value=form.itemname.data, readonly="readonly") }}
        <div class="invalid-feedback">
          {% for error in form.itemname.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.itemname(class="form-control form-control-md", value=form.itemname.data, readonly="readonly") }}
        {% endif %}
      </div>
      <div class="style=width: 25%">
        {{ form.eachcount.label(class="form-control-label", value=form.eachcount.data) }}
        {% if form.eachcount.errors %}
        {{ form.eachcount(class="form-control form-control-sm is-invalid", value=form.eachcount.data) }}
        <div class="invalid-feedback">
          {% for error in form.eachcount.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.eachcount(class="form-control", value=form.eachcount.data) }}
        {% endif %}
        {{ form.waste.label(class="form-control-label", value=form.waste.data) }}
        {% if form.waste.errors %}
        {{ form.waste(class="form-control form-control-sm is-invalid", value=form.waste.data) }}
        <div class="invalid-feedback">
          {% for error in form.waste.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.waste(class="form-control", value=form.waste.data) }}
        {% endif %}
      </div>
      {% endfor %}
    </fieldset>
    <div class="form-group mb-1">
      {{ multi_form.submit(class="btn btn-primary") }}
    </div>
</div>
<!-- Count Section -->
<section id="counts" class="p-1 bg-steel">
  {% for group in ordered_sales.items %}
  <div class="content-section">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <legend class="border-bottom mb-0">{{ group.trans_date.strftime('%A-%m/%d') }}</legend>
      <!-- Add button here -->
      <a href="/sales/{{ group.trans_date }}/update" class="btn btn-primary btn-sm" style="width: 100px; height: 30px;">Edit</a>
    </div>
    {% for item in sales_list%}
    {% if item.trans_date == group.trans_date  %}
    <div class="media-body">
      <a class="me-2" href="{{ url_for('counts_blueprint.update_sales', sales_id=item.id) }}">{{ item.item_name }}</a>
      <small class="text-muted"> Total Sales  -  {{ item.each_count }} / Waste  -  {{ item.waste }}</small>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</section>
{% for page_num in ordered_sales.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{%if ordered_sales.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('counts_blueprint.sales', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('counts_blueprint.sales', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}


