{% extends 'layout.html' %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
  <style>
      .styled-text {
          font-weight: bold;
          font-size: 18px; /* Adjust as needed */
      }
  </style>
</head>

<!-- Current Day Sales Section -->
{% if current_day_sales|length > 0 %}
  <section id="toast_sales" class="p-1 bg-steel">
    <div class="content-section">
      <legend class="border-bottom mb-6">Current Business Date: {{ date.strftime('%A-%m/%d') }}</legend>
      {% for item in current_day_sales.values() %}
        <div class="media-body d-flex justify-content-between">
          <span>{{ item.item_name }}</span>
          <span>{{ item.count|int }}</span>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
<hr> <!-- Divider line -->
<!-- Week-to-Date Sales Section -->
{% if wtd_sales %}
  <section id="wtd_sales" class="p-1 bg-steel">
    <div class="content-section">
      <legend class="border-bottom mb-6">Week-to-Date Sales</legend>
      {% for item in wtd_sales %}
        <div class="media-body d-flex justify-content-between">
          <span>{{ item.menuitem }}</span>
          <span>{{ item.wtd_sales|int }}</span>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
<hr> <!-- Divider line -->

<!-- Sales Section -->
<section id="r365_sales" class="p-1 bg-steel">
    {% for group in ordered_sales.items %}
        <div class="content-section">
          <legend class="border-bottom mb-6">{{ group.date.strftime('%A-%m/%d') }}</legend>
          {% for item in sales_items if item.date == group.date %}
            <div class="media-body d-flex justify-content-between">
              <span>{{ item.menuitem }}</span>
              <span>{{ item.sales_count|int }}</span>
            </div>
          {% endfor %}
        </div>
    {% endfor %}
</section>
{% for page_num in ordered_sales.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {%if ordered_sales.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('counts_blueprint.sales', page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('counts_blueprint.sales', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
{% endblock content %}
