{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ multi_form.hidden_tag() }}
    <fieldset id="" class="form-group mb-2">
      <legend class="border-bottom mb-2">Enter Sales for {{ sales_date.strftime("%Y-%m-%d") }} </legend>
      {% for form in multi_form.sales %}
      {{ form.hidden_tag() }}
      {{ form.csrf_token() }}
      <!-- Add a hidden input field for the item ID -->
      <div class="form-group mb-1">
        <label class="form-control-label">{{ form.itemname.label }}</label>
        
        {% if form.itemname.errors %}
        <input type="text" class="form-control form-control-md is-invalid" value="{{ form.itemname.data }}" readonly>
        <div class="invalid-feedback">
            {% for error in form.itemname.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        <h5 class="subtitle">{{ form.itemname.data }}</h5>
        {% endif %}
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              {{ form.eachcount.label(class="form-control-label") }}
              {% if form.eachcount.errors %}
              {{ form.eachcount(class="form-control form-control-md is-invalid", style="width: 80%;") }}
              <div class="invalid-feedback">
                  {% for error in form.eachcount.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
              {{ form.eachcount(class="form-control form-control-md", style="width: 80%;") }}
              {% endif %}
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              {{ form.waste.label(class="form-control-label") }}:
              {% if form.waste.errors %}
              {{ form.waste(class="form-control form-control-md is-invalid", style="width: 80%;") }}
              <div class="invalid-feedback">
                  {% for error in form.waste.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% else %}
              {{ form.waste(class="form-control form-control-md", style="width: 80%;") }}
              {% endif %}
          </div>
      </div>
    </div>
    <hr> <!-- Divider line -->
    {% endfor %}
    </fieldset>
    <div class="form-group mb-1">
      {{ multi_form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock content %}
